@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme {
  --color-bg-primary: #303749;
  --color-bg-secondary: #283141;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-bg-input: #262626;
  --color-label: #dbdbdb;
  --color-item-hover: #1e293b;
  --color-border: #6b7280;
}

.light-theme {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #121212;
  --color-text-secondary: #4a5568;
  --color-bg-input: #fff;
  --color-label: #6b7280;
  --color-item-hover: #f3f4f6;
  --color-border: #e5e7eb;
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    @apply rounded-lg;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    @apply rounded-lg;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-hover-color to-pink-400 rounded-lg;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    font: inherit;
    background: inherit;
    color: inherit;
    scroll-behavior: smooth;
    @apply bg-primary text-primary antialiased;
  }
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
  svg {
    @apply bg-transparent;
  }
  body {
    min-height: 100vh;
  }
  ,
  img {
    object-fit: cover;
  }
  .rounded-div {
    @apply border border-secondary  shadow-xl bg-primary px-2
  max-w-[1200px] w-full mx-auto;
  }

  .hover-svg-fill:hover svg {
    @apply fill-hover-color;
  }
  .btn-normal {
    @apply p-1 hover:bg-secondary rounded-cycle transition-all ease-linear delay-75 border border-transparent hover:border-hover-color  hover:text-hover-color hover:shadow-2xl;
  }

  .item-hover-bg {
    @apply bg-hover;
  }

  .sidebar-hidden {
    transform: translateX(-100%);
  }

  a,
  div,
  span {
    background-color: transparent;
  }

  .link-normal {
    @apply hover:text-hover-color transition-all ease-linear delay-100 capitalize text-secondary;
  }

  .input-custom {
    @apply text-normal max-w-search-form w-full border 
                    rounded-xl pl-2 py-1 
                      transition-all ease-linear delay-75
                     outline-none
                    placeholder:font-medium
                    shadow-lg border-input
                     focus:border-hover-color;
  }
  .tag {
    @apply bg-slate-700 rounded-xl font-medium py-1 px-2 text-white;
  }
  button {
    @apply hover:scale-105;
  }
}
